button{
  height: 56px;
  width: 56px;
  align-items: center;

  
  font-size: 30px;
  color: #ffff;
  border: none;
  border-radius: 5px;
}

.btn-primary{
  flex-shrink: 0;

  background-color: var(--primary-color);
  box-shadow:0 0 5px 4px #56f4ff9e ;  
}

.btn-secondary{
  flex-shrink: 0;


  background-color: var(--secondary-color);
  box-shadow:0 0 5px 4px #8d3f3f ;  
}

.btn-third{
  flex-shrink: 0;


  background-color: var(--third-color);
  box-shadow:0 0 5px 4px #365c47 ;  
}
@media screen and (max-width: 800px) {
  
}
@media screen and (max-width: 530px) {
  button{
    height: 40px;
    width: 40px;
  }
}